<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=H, initial-scale=1.0">
    <title>Music genre Generator</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <div class="all">
    <h1>
        Music Genre & Story Generators
        </h1>
    <div class="container">   
        <input class="button" type="button" value="Generator" onClick="window.location.reload(true)">
        </div>
    <h2>
        Did you ver listen to <%= genre %>?
        </h2>
    <p class="story">
         <%= story %>
        </p>
    </div>
</body>
</html>