html {
   text-align: center;
   margin: auto;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background: orange linear-gradient(orange,#ff8c00);
 }
      
h1 {
   color: #36688D;;
   font-size: 3em; 
   margin: 1em;
   box-shadow: 2px 2px 5px 5px #36688D;
}

h2 {
   margin: 2em;
   color: #36688D;;
   font-size: 2em;
}

.story{
   background-color: orange linear-gradient(orange,#ff8c00);
   margin: 2em;
   color: #36688D;;
   font-size: 2em;
   

}

.button{
      margin: auto;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #36688D;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(orange,#ff8c00);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}